.applyForLeave-container {
  justify-content: center;

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
    
    .title {
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  .subtitle {
    font-size: 1.4em;
    font-weight: bold;
  }

  .applyForLeaveBtn-container {
    display: flex;
    justify-content: center;

    .applyForLeaveBtn {
      
    }
  }
 

}

.leaveApplicationForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 98px;
  padding-right: 98px;
  
  button {
    margin-top: 32px;
  }
}