.editDepartmentOptions-container {
  
  .tool-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    
    .title {
      font-size: 2.2em;
      font-weight: bold;
    }

    .button-container {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2), 0px 7px 12px 0 rgba(0, 0, 0, 0.3);
  
      button {
        width: 64px;
        height: 64px;
        color: white;
        background: #2E7D32;
        border: none;
        border-radius: 50%;
        padding-left: 16px;
        padding-right: 16px;
  
        font-size: 38px;
        font-weight: bold;
  
        
        &:hover {
          background: #388E3C;
          transform: rotateZ( 90deg );
        }
  
        &:focus {
          background: #388E3C;
          transform: rotateZ( 180deg );
        }
      }
    }
    
  }
}