.editPositionOptions-container {
  
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
    
    .title {
      font-size: 1.8em;
      font-weight: bold;
    }
  }
}

.createPositionForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
  
  button {
    margin-top: 32px;
  }
}