.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enter {
  animation: fade-in;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0,0,0.58,1);;
}

.exit {
  animation:  fade-out;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0,0,0.58,1);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}